*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  box-sizing: border-box;

  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #000;

  background-color: #fff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.header {
  background-color: #f4f7f9;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.header-top {
  background-color: #293449;
  font-size: 17px;
  line-height: 18px;
  color: #fff;
  width: 100%;

}

.header-top .d-flex {
  display: flex;
  justify-content: flex-start;
}

.header-logo {
  width: 220px;
  height: 47px;
  padding: 0;
  margin: 0;

  margin-bottom: -4px;
}

.search {
  width: 270px;
  background-color: #293449;
  margin: 0 auto;
  padding: 0;
}

.search:hover {
  background-color: #212a3a;
}

.header-form {
  background-image: url("img/icon-search.svg");
  background-repeat: no-repeat;
}

.widgets {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  text-align: left;
  margin: 0 auto;
}

.bookmark:hover {
  background-color: #212a3a;
}

.bookmark:active {
  background-color: #161d29;
}

.header-form {
  padding-left: 0;
  margin: 0;
}

.header-middle {

  padding-top: 47px;
  padding-bottom: 18px;
  padding-left: 105px;
}

.header-middle .d-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: no-wrap;

}

.header-title,
.header-contacts,
.user-navigation {
  max-width: 300px;

}

.header-title h1 {
  color: #ee3643;
  max-width: 205px;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  text-align: left;
  font-weight: normal;
  margin: 0;
  padding-right: 13px;
}

.header-contacts {}

.header-address {

  text-align: center;
}

.header-phone {
  box-sizing: content-box;
  width: 450px;
  color: #ee3643;
  font-size: 21px;
  font-style: normal;
  line-height: 21px;
  border: 3px solid #fff;
  padding-top: 10px;
  padding-bottom: 9px;
  padding-left: 12px;
  padding-right: 49px;
}

.header-phone img {
  padding-right: 41px;
}

.header-street {
  color: #32425c;
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
}

.header-nav {
  padding-bottom: 60px;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  width: 940px;

  padding: 0;
  background-color: #32425c;
  border-bottom: 5px solid #293449;
}

.navbar-item {
  margin: 0 auto;
  padding: 0;
}

.navbar a {
  display: block;
  padding: 20px 30px;
  margin: 0;

  vertical-align: middle;

  font-size: 17px;
  line-height: 17px;
  color: #fff;


}

.navbar .navbar-item a:hover {
  background-color: #293449;
}

.navbar .navbar-item a:avtive {
  background-color: #1d2739;
}

.promo {
  margin-top: 60px;

  /* display: flex;
  justify-content: space-between;
  flex-wrap: wrap; */
}

.promo-item {
  width: 300px;
  height: 123px;
}

.materials {
  background-color: #ffbf47;
}

.tool {
  background-color: #3bbce3;
}

.technique {
  background-color: #dc91d8;
}

.discounts {
  background-color: #8ed78f;
}

.delivery {
  background-color: #ffc047
}

.promo-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #fff;
  padding-left: 23px;
}

.promo-link {
  display: inline-block;
  width: 136px;
  height: 38px;
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.2);
}


.footer {
  background-color: #32425c;
  color: #fff;
}

.navbar,
.nav-footer,
.nav-footer-materials,
.footer-social,
.breadcrumbs,
.pagination,
.popular-items,
.brands,
.catalog-item,
.slider-items {
  list-style: none;
}

.navbar li,
.nav-footer li,
.nav-footer-materials li,
.footer-social li,
.breadcrumbs li,
.pagination li {
  display: inline;
}

.footer-address,
.footer-phone,
.nav-footer a {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
}

.footer-copyright {
  width: 300px;
}

.footer-social-buttons {
  width: 300px;
  margin: 0;
  padding: 0;
}

.footer-social-buttons ul {
  display: flex;
  width: 135px;
  flex-wrap: wrap;
  justify-content: space-between;


  margin: 0 auto;
  padding: 0;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 41px;
  height: 41px;
  background-color: #212a3a;
  vertical-align: middle;
  border-radius: 50%;
}

.social-item a {
  line-height: 42px;
  text-align: center;
}

.footer-social a:hover,
.footer-social a:active {
  background-color: #ee3643;
}

.nav-footer a:hover,
.nav-footer-materials a:hover,
.footer-back-links a:hover {
  text-decoration: underline;
}

.nav-footer a:active {
  text-decoration: none;
  color: #f1f5f7;
}

.nav-footer-materials a:active {
  text-decoration: none;
  color: #ffd180;
}



.nav-footer-materials a {
  font-size: 18px;
  line-height: 24px;
  color: #ffd180;
}

.footer-bottom {
  background-color: #293449;
  padding-top: 40px;
  padding-bottom: 33px;
}

.footer-bottom .container {
  display: flex;
  justify-content: space-between;

}

.footer-back-links {
  display: flex;
  width: 300px;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 18px;
  color: #fff;
}

.footer-back-links a {
  color: #ffd180;
}

.footer-back-links a:active {
  text-decoration: none;
  color: #ee3643;
}

.modal.write-us,
.modal.modal-map,
.modal.add-to-basket {
  display: none;
}

.breadcrumbs li {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  color: #000;
  text-transform: uppercase;
}

.tool-title {
  width: 940px;
  min-height: 89px;
  margin: 0 auto;
  background-color: #f2f6f8;
}

.tool-title h2 {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  font-weight: normal;
  text-transform: uppercase;
  padding-top: 32px;
  padding-left: 28px;
  padding-bottom: 34px;
}

.breadcrumbs {
  padding: 0;
}

.visually-hidden {
  display: none;
}

a.button {
  display: inline-block;
  color: #fff;
  font-size: 14px;

  text-align: center;
  vertical-align: middle;

  padding: 7px 10px;
}

a.button-red {
  text-transform: uppercase;
  background-color: #ee3643;
  border-radius: 3px;
}

a.button-red:hover {
  background-color: #ca2c37;
}

a.button-red:active {
  background-color: #ba2732;
}

a.button-green {
  max-width: 150px;
  height: 100%;
  background-color: #63a63e;

  font-size: 17px;
  line-height: 18px;
  color: #fff;
  cursor: pointer;
}

a.button-green:hover {
  background-color: #5fbb2d;
}

a.button-green:active {
  background-color: #518534;
}

a.button-white {
  background-color: #fff;
  font-size: 21px;
  line-height: 21px;
  color: #000;
  font-weight: normal;
  padding: 10px 25px;
}

.button-white.login-link {
  margin-right: 10px;
  padding-left: 49px;
  background-image: url("img/icon-login.svg");
  background-repeat: no-repeat;
}

a.slider-button {
  width: 195px;
  position: relative;
  top: 245px;
  left: 25px;
}

a.popular-button,
a.brands-button {
  width: 253px;
  padding-right: 25px;
}

a.popular-button {
  position: relative;
  top: -63px;
  left: 660px;
}

a.brands-button {
  position: relative;
  top: -65px;
  left: 660px;
}

a.company-button {
  width: 220px;
}

a.contacts-button {
  width: 300px;
}

.section-title {
  height: 89px;
  background-color: #f9f5f0;
}

.section-title h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: #32425c;
  padding-top: 33px;
  padding-left: 30px;
}

.popular-items {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding: 0;
}

.popular-item {
  width: 218px;
  background-color: #fff;
  border: 1px solid #eaeaea;
}

.popular-item:hover,
.catalog-item:hover {
  box-shadow: 0 5px 15px 5px #ccced3;
}

.popular-brands li:hover {
  box-shadow: 0 5px 15px 5px #ccced3;
}

.popular-title {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  color: #000;
  text-align: center;
}


.popular-brands {
  padding-bottom: 85px;
}

.brands {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 145px;
  border: 1px solid #eaeaea;
  background-color: #fff;
  text-align: center;
  margin-top: 20px;
}

.services {
  width: 100%;
  background-color: #f4f8f9;
  padding-top: 67px;
  padding-bottom: 98px;
}

.services-title {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: #32425c;
  font-weight: normal;
}

.services h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000;
  font-weight: normal;
}

.services-items {
  background-color: #32425c;
}

.services-items a {
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  color: #fff;
  text-align: left;
  padding-left: 23px;
  padding-top: 21px;
  padding-right: 140px;
  padding-bottom: 21px;
}

.services-items a:hover {
  background-color: #293449;
}

.services-items a:active {
  background-color: #fff;
  color: #32425c;
}

.services p,
.services-features,
.about p,
.contacts p,
.info p {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000;
  font-weight: normal;
}

.about-contacts .container {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 85px;
}

.about h2,
.contacts h2,
.info h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000;
  font-weight: normal;
}

.about ul {
  list-style: none;
}

.transport-company {
  font-size: 18px;
  line-height: 20px;
}

/* Стили Каталога */

.info {
  background-color: #f2f6f8;
  padding-top: 67px;
  padding-bottom: 74px;
}

.sort {
  background-color: #f7f3ec;
  display: flex;
  justify-content: space-between;
}

.sort h2,
.sort a {

  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;

  font-weight: normal;
  text-transform: uppercase;
  padding: 10px 0;
  vertical-align: middle;
  margin: 0 auto;
}

.sort h2 {
  color: #000;
}

.sort a {
  color: #000;
  opacity: 0.3;
  border-bottom: 1px doted #ee3643;
  padding: 10px auto;
}

.sort a:hover {
  color: #000;
  opacity: 1;
  text-decoration: none;
  border-bottom: 1px solid #ee3643;
}

.sort a:active {
  color: #ee3643;
  text-decoration: none;
  border-bottom: none;
}

.sort a:nth-of-type(4):hover,
.sort a:nth-of-type(5):hover {
  text-decoration: none;
  border-bottom: none;
}

.sort a:nth-of-type(4):active,
.sort a:nth-of-type(5):active {
  text-decoration: none;
  border-bottom: none;
  color: #ee3643;
  /* цвет svg иконки не меняется */
  opacity: 1;
}

/*-- Форма в фильтре--*/
.filters {
  width: 220px;
  margin: 0 auto;
}

.filter fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.filter legend {
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 20px;
}

.filter-title,
.catalog-content.sort {
  width: 220px;
  height: 38px;
  background-color: #f7f3ec;
}

.filter-title h2,
.sort h2 {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  text-align: left;
  text-transform: uppercase;
  color: #000;
  padding-left: 20px;
  padding-top: 10px;
  vertical-align: middle;
}

.range-filter {
  width: 260px;
  margin-top: 24px;
}

.filter-item {}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 80px;
  width: 220px;
  margin-bottom: 10px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f7f3ec;

  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
  padding-bottom: 25px;
}

.price-controls label {
  display: inline-block;
  width: 50%;

  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 95px;
  padding: 13px 23px;

  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #000;

  border: none;
  border-radius: 5px;
  background: #f7f3ec;
}

/*Каталог товары */
.catalog {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
}

.catalog-content,
.filters {
  margin: 0 auto;
}

.catalog-items {
  width: 700px;
  margin: 20px auto;
  font-size: 0;
}

.catalog-item,
.popular-item {
  position: relative;
  display: inline-block;
  width: 218px;
  margin-right: 20px;
  margin-bottom: 20px;

  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;

  border: 1px solid #ccc;
}

.catalog-item:nth-child(3n),
.popular-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-item .flag,
.popular-item .flag {
  position: absolute;
  top: -1px;
  right: -1px;

  width: 60px;
  height: 60px;

  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.catalog-item .flag-new,
.popular-item .flag-new {
  background: url("img/new-flag.png") no-repeat 0 0;
}

.catalog-item .actions,
.popular-item .actions {
  position: absolute;
  top: 0;
  left: 0;

  width: 218px;
  height: 88px;
  padding: 40px 0;

  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10;
}

.catalog-item .actions .buy,
.catalog-item .actions .bookmark,
.popular-item .actions .buy,
.popular-item .actions .bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;

  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius: 3px;

  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.catalog-item .actions .bookmark,
.popular-item .actions .bookmark {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.catalog-item .actions,
.popular-item .actions {
  display: none;
}

.catalog-item:hover .actions,
.popular-item:hover .actions {
  display: block;
}

.catalog-item-image img,
.popular-item-image img {
  width: 218px;
  height: 168px;
  max-width: 100%;
}

.catalog-item-title,
.popular-item-title {
  min-height: 40px;
  padding: 0 25px;
  margin-top: 10px;
  margin-bottom: 15px;

  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  color: #000;
}

.price {

  min-height: 20px;
  margin-top: 15px;
  margin-bottom: 10px;

  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: #a9a9a9;
  text-decoration: line-through;
}

.super-price {
  position: relative;
  width: 141px;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 10px 30px;

  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: #fff;
  background: #ee3643;
  border-radius: 3px;
}

.super-price:after {
  content: "";

  position: absolute;
  top: 0;
  right: -20px;

  width: 0;
  height: 0;

  border: 20px solid white;
  border-left-color: #ee3643;
}

/*  Слайдер */

.slader {

  width: 620px;
  height: 266px;
  background-color: #000;
  margin: 0;
  padding: 0;
}

.slider-item img {
  display: flex;
  margin: 0;
  padding: 0;
}

.slider-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;

  position: relative;
  top: 175px;
  left: 25px;
}

.slider-text {
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  color: #fff;

  position: relative;
  top: 145px;
  left: 25px;
}

.slide2 {
  display: none;
}
